---
import Image from "astro/components/Image.astro";
---
  <section
    class="w-full max-w-7xl mx-auto py-20"
    aria-labelledby="conocenos-historia"
  >
    <div
      class="flex flex-col-reverse justify-center items-center gap-15 md:flex-row px-3 sm:px-6 lg:px-8"
    >
      <article
        class="flex-1 grid grid-cols-2 gap-4"
      >
          <Image
            src="/assets/team1.jpg"
            alt="Equipo 1"
            width={500}
            height={900}
            class="rounded-lg object-cover bg-gray-400 shadow-lg translate-y-[-40px]"
          />
          <Image
            src="/assets/team2.jpg"
            alt="Equipo 2"
            width={500}
            height={900}
            class="rounded-lg object-cover bg-gray-400 shadow-lg translate-y-10"
          />
      </article>
      <article class="flex-1">
          <h2
          id="sobre-nosotros-encabezado"
          class="text-lg font-bold mb-2 text-white"
        >
          Sobre Nosotros
        </h2>
        <h3 class="text-3xl font-semibold mb-10">Nuestra Historia</h3>
        <p class="mb-5">
          Lorem ipsum odor amet, Lorem consectetuer adipiscing elit. lore
          Consequat praesent nec primis fermentum.Lorem ipsum odor amet, Lorem
        </p>
        <p class="mb-10">
          Lorem ipsum odor amet, Lorem consectetuer adipiscing elit. lore
          Consequat praesent nec primis fermentum.Lorem ipsum odor amet, Lorem
          consectetuer adipiscing elit. lore Consequat praesent nec primis
        </p>
        <button class="btn">Leer más</button>
      </article>
    </div>
  </section>