---
import Image from "astro/components/Image.astro";
---

<section
  class="w-full max-w-7xl mx-auto py-20"
  aria-labelledby="conocenos-historia"
>
  <div
    class="flex flex-col-reverse justify-center items-center gap-15 md:flex-row px-3 sm:px-6 lg:px-8"
  >
    <article class="flex-1 grid grid-cols-2 gap-4">
      <Image
        src="/assets/team1.jpg"
        alt="Equipo 1"
        width={500}
        height={900}
        class="rounded-lg object-cover bg-gray-400 shadow-lg translate-y-[-40px]"
        loading="eager"
      />
      <Image
        src="/assets/team2.jpg"
        alt="Equipo 2"
        width={500}
        height={900}
        class="rounded-lg object-cover bg-gray-400 shadow-lg translate-y-10"
        loading="eager"
      />
    </article>
    <article class="flex-1">
      <h2
        id="sobre-nosotros-encabezado"
        class="text-lg font-bold mb-2 text-white"
      >
        Nuestra visi칩n
      </h2>
      <h3 class="text-3xl font-semibold mb-10">Aspiramos a seguir creciendo</h3>
      <p class="mb-10">
        Nuestra visi칩n es convertirnos en una referencia en el mercado
        inmobiliario de Morelia y m치s all치, siendo reconocidos por ofrecer un
        servicio altamente personalizado y confiable.
      </p>
    </article>
  </div>
</section>
