---
import Image from "astro/components/Image.astro";
---

<section class="max-w-7xl mx-auto my-32 md:my-45" aria-labelledby="sobre-nosotros-encabezado">
  <div
    class="flex flex-col justify-center items-center  gap-10 md:gap-8 md:flex-row px-5"
  >
    <article class="flex flex-row p-2 md:p-0 rounded-4xl shadow-2xl " style="background: var(--gradient);">
        <Image
        src={"/images/agentes.webp"}
        alt="Compra de propiedades"
        width={500}
        height={300}
        format="webp"
        loading="lazy"
        class="w-full h-auto max-w-96 object-cover rounded-2xl z-10 ml-6 hidden md:block"
      />
      <aside class="flex flex-col justify-center items-start p-6 lg:p-12">
        <h2
          id="sobre-nosotros-encabezado"
          class="text-lg font-bold mb-2"
        >
          Contáctanos
        </h2>
        <h3 class="text-3xl font-semibold mb-3 text-white">Podemos encontrar la casa de tus sueños</h3>
        <p class="text-white text-sm">
          ¿Tienes preguntas o necesitas asistencia? Nuestro equipo está listo
          para ayudarte a encontrar la propiedad perfecta. Llámanos hoy mismo y
          descubre cómo podemos hacer realidad tu sueño de hogar.
        </p>
        <button class="btn-vr mt-6 px-6 py-3 rounded-lg font-bold" onclick="location.href='/contactanos'">Contáctanos</button>
      </aside>

      
    </article>
  </div>
</section>
