<article class="w-full flex-1">
  <div class="relative w-full max-w-4xl mx-auto">
    <div id="slider" class="relative overflow-hidden h-96  rounded-2xl">
        <div class="absolute inset-0 w-full h-full object-cover  duration-500 bg-gray-400 opacity-100 animate-pulse">
        </div>
    </div>

    <button
      id="prev"
      class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/50 text-white px-3 py-2 rounded-lg cursor-pointer hover:bg-black/70 hover:scale-110 transition"
      >‹</button
    >

    <button
      id="next"
      class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/50 text-white px-3 py-2 rounded-lg cursor-pointer hover:bg-black/70 hover:scale-110 transition"
      >›</button
    >
  </div>
</article>