<div class="herobg absolute inset-0 -z-10  from-blue-100 to-white h-fit pb-15 sm:pb-20 overflow-hidden">
    <div class="h-[550px] bg-gray-400 rounded-b-3xl overflow-hidden">
    </div>
</div>

<style>
.herobg {
    background-image: var(--gradient);
}
</style>