---
import HeroBg from "./HeroBg.astro";
import ServiciosCarousel from "./ServiciosCarousel";
---

<section class="w-full max-w-7xl mx-auto px-6" aria-labelledby="hero">
  <HeroBg />
  <div
    class="overflow-x-hidden flex flex-col h-full w-full max-w-110 lg:max-w-180 justify-center items-start pt-30 pb-15"
  >
    <p class="text-6xl font-bold text-black ">ENCUENTRA TU SUEÑO</p>
    <p class="mt-4 text-base text-black mb-4">
      Encuentra las mejores propiedades y recibe asesoría personalizada para comprar, vender o rentar tu hogar ideal.
    </p>
    <button class="btn px-6 py-3 transition">Catálogo</button>
  </div>
  <ServiciosCarousel client:visible/>
</section>
