---
import Search from "../icons/search.svg";
import Filter from "../icons/filter.svg";
---

<div
  class="flex flex-col md:flex-row lg:justify-between lg:items-center mb-4 mt-2 gap-5 lg:gap-10"
>
  <label for="buscar" class="relative flex-1 max-w-md" aria-label="Barra de búsqueda">
    <input
      type="text"
      id="buscar"
      name="buscar"
      placeholder="Buscar..."
      class="bg-white rounded-3xl px-4 py-1 border-2 border-gray-400 w-full"
    />
    <Search
      width={20}
      height={20}
      class="absolute right-2 top-1/2 transform -translate-y-1/2"
    />
  </label>
  <article class="flex flex-row gap-2">
    <button
      class="rounded bg-gray-200 px-2 py-1 hover:bg-gray-900 hover:text-white cursor-pointer"
      >Nuevos</button
    >
    <button
      class="rounded bg-gray-200 px-2 py-1 hover:bg-gray-900 hover:text-white cursor-pointer"
      >Precio ascendente</button
    >
    <button
      class="rounded bg-gray-200 px-2 py-1 hover:bg-gray-900 hover:text-white cursor-pointer"
      >Precio descendente</button
    >
    <button
      class="rounded bg-gray-200 px-2 py-1 hover:bg-gray-900 hover:text-white cursor-pointer lg:hidden"
    >
      <Filter width={24} height={24} />
    </button>
  </article>
</div>
