@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #be3739;
  --secondary-color: #333439;
  --font-family: "Golos Text", sans-serif;
  --background-color: #fbfbfb;
  --title: #9d866e;
  --text-color: #000000;
  --gradient: linear-gradient(to right, #333439 19%, #482222 75%, #823132 100%);
  --button-color: #333439;
  --button-hover-color: #505261;
  --button-text-color: #ffffff;
  --border-radius: 20px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2 {
  font-weight: 700;
  color: var(--title);
}

.btn {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--button-hover-color);
}

.btn-vr{
  background-color: var(--button-text-color);
  color: var(--button-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-vr:hover{
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
}