---
import BaseLayout from "../layouts/baseLayout.astro";
import Image from "astro/components/Image.astro";
import AboutMission from "../components/AboutMission.astro";
import AboutVision from "../components/AboutVision.astro";
import AboutValues from "../components/AboutValues.astro";
import HeroTitle from "../components/HeroTitle.astro";
---

<BaseLayout title="Conócenos">
  <section
    class="w-full max-w-7xl mx-auto my-32 px-6"
    aria-labelledby="conocenos-encabezado"
  >
    <div
      class="flex flex-col justify-center items-center gap-4 md:flex-row"
    >
      <h1 id="conocenos-encabezado" class="text-5xl font-bold flex-1">Conócenos</h1>
      <p class=" text-center md:text-left flex-1">
        ¿Tienes preguntas o necesitas más información? Nuestro equipo de
        atención al cliente está aquí para ayudarte. No dudes en ponerte en
        contacto con nosotros a través del siguiente formulario o por teléfono.
      </p>
    </div>
  </section>

  <Image
    src={"/images/conocenos.webp"}
    alt="Compra de propiedades"
    width={1200}
    height={400}
    format="webp"
    loading="eager"
    class="w-full h-auto md:max-h-92 object-cover bg-gray-400"
  />
  <section
    class="w-full max-w-7xl mx-auto my-32 px-6"
    aria-labelledby="conocenos-historia"
  >
    <div
      class="flex flex-col justify-center md:items-center gap-4 md:flex-row md:gap-30"
    >
      <article class="flex-1">
        <h2
          id="sobre-nosotros-encabezado"
          class="text-2xl font-bold mb-2 text-white"
        >
          Sobre Nosotros
        </h2>
        <h3 class="text-3xl font-semibold mb-8">Mejorando con cada paso.</h3>
      </article>
      <article class="flex-2">
        <p class="mb-5 font-bold">
          Bomasa nació en 2024 con una visión clara: ofrecer un servicio
          inmobiliario cercano, confiable y personalizado.
        </p>
        <p class="mb-5">
          Aunque somos un proyecto reciente, nuestra misión ha sido clara desde
          el principio: acompañar a cada cliente en la búsqueda de su hogar
          ideal, asegurándonos de que cada propiedad se ajuste perfectamente a
          sus necesidades.
        </p>
        <p>
          Actualmente, gestionamos más de 50 propiedades en la región, brindando
          opciones diversas y de calidad.
        </p>
      </article>
    </div>
  </section>

  <AboutMission />
  <AboutVision />
  <AboutValues />
</BaseLayout>
