---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Propiedades">
  <section class="py-20 px-3 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold mb-8 text-center">Propiedades Disponibles</h1>
    <p class="text-center mb-12">
      Explora nuestra amplia gama de propiedades disponibles para compra y
      renta. Encuentra el hogar perfecto para ti.
    </p>
  </section>

  
</BaseLayout>
