---
import BaseLayout from "../../layouts/baseLayout.astro";
import PropiedadesApp from "../../components/PropiedadesApp.jsx";
---

<BaseLayout title="Propiedades">
  <main class="flex flex-col min-h-full px-6">
    <section class="my-10 text-white flex items-center max-w-312 w-full mx-auto">
      <h1 class="text-5xl">Propiedades</h1>
    </section>
    <section class="flex flex-1 flex-row gap-4">
      <PropiedadesApp client:load/>
    </section>
  </main>
</BaseLayout>
